<ion-view view-title="Firesnap">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()">
      Log Out
    </button>
  </ion-nav-buttons>
    <ion-content id="homeView">
      <button ng-click="picture()">Take picture</button>

      <button ng-click="$storage.counter = $storage.counter + 1">{{$storage.counter}}</button>

      <div ng-repeat="image in collection">
        <img class="images" ng-src="data:image/jpeg;base64,{{image.image}}" width="100%" />
      </div>

    </ion-content>
</ion-view>
